html,
body,
header,
.view {
  height: 100%;
  position: relative;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
    position: relative;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
    position: relative;
  }
}

body {
  margin-top: 70px;
}

.top-nav-collapse {
  background-color: rgba(0,217,255,0.7) !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: rgba(0,217,255,0.7) !important;
  }
}

#navbutton{
  border-width: 0px !important;
}

.rgba-gradient {
  background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)));
  background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
}

.foot{
  background-color: rgba(102, 178, 255, 0.5) !important;
  height: 50px;
}
