{% extends "base.html" %}

{% block title %}
Easter Egg
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type= "text/css"href="{{ url_for('static',filename='styles/access.css') }}">
{% endblock %}

{%block navcontents%}

<li class="nav-item mx-2">
  <form method="GET" action="/logout">
    <button class="btn btn-outline-dark" id="navbutton" type="submit">Log Out</button>
  </form>
</li>
<li class="nav-item mx-2">
  <form method="GET" action="/">
    <button class="btn btn-outline-dark" id="navbutton" type="submit">Home</button>
  </form>
</li>
<li class="nav-item mx-2">
  <form method="GET" action="/favorites">
    <button class="btn btn-outline-dark" id="navbutton" type="submit">Favorite Pokemon</button>
  </form>
</li>
<li class="nav-item mx-2">
  <form method="GET" action="/game">
    <button class="btn btn-outline-dark" id="navbutton" type="submit">Who's That Pokemon?</button>
  </form>
</li>
<li class="nav-item mx-2">
  <form method="GET" action="/items">
    <button class="btn btn-outline-dark" id="navbutton" type="submit">Items</button>
  </form>
</li>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center" id="bg">
  <div class="card">
    <div class="card-body">
      <form method="get" action="/access">
        <div class="form-group ">
          <label class="control-label requiredField" for="gamepass">
            Enter the Password
            <span class="asteriskField">
              *
            </span>
          </label>
          <div class="input-group">
            <input class="form-control" id="gamepass" name="gamepass" type="text"/>
            <div class="input-group-addon">
              <i class="fa fa-check">
              </i>
            </div>
          </div>
          <span class="help-block" id="hint_gamepass">
            it's gottacatchthemall
          </span>
        </div>
        <div class="form-group">
          <div>
            <button class="btn btn-primary " name="submit" type="submit">
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
