{% extends "base.html" %}

{% block title %}
Favorites
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" type= "text/css"href="{{ url_for('static',filename='styles/favorite.css') }}">
{% endblock %}
{%block navcontents%}
<li class="nav-item mx-2">
  <form method="GET" action="/logout">
    <button class="btn btn-outline-dark" type="submit">Log Out</button>
  </form>
</li>
<li class="nav-item mx-2">
  <form method="GET" action="/">
    <button class="btn btn-outline-dark" type="submit">Home</button>
  </form>
</li>
{% endblock %}
{% block body %}
  <form method="GET" action="/remove" id="f">
    <div class="container-flex bg-danger m-3 p-5 pokedex" id="cont"></div>
    <input type="number" name="pokemon_id" style="display: none;"/>
  </form>


<script>

  var favorites = {{ favorites | safe }};
  console.log(favorites);
  var pokemon = {{ pokemon | safe }};
  var t = 807;
  var container = document.getElementById("cont");
  var perrow = 0;
  var row;
  for(var i = 0; i <= t; i++) {
    if (favorites.includes(pokemon[i][1])) {
      if(perrow == 0){
        row =  document.createElement("DIV");
        row.setAttribute("class", "row");
      }
      var col = document.createElement("DIV");
      var card = document.createElement("DIV");
      var cardhead = document.createElement("H5");
      var cardbody = document.createElement("DIV");
  	  var image = document.createElement("IMG");
  	  var types = document.createElement("P");
  	  var par = document.createElement("P");
  	  var button = document.createElement("BUTTON");
  	  var br = document.createElement("BR");
      var badges = document.createElement("DIV");
  	  n = pokemon[i][0];
  	  id = pokemon[i][1];
  	  im = pokemon[i][2];
  	  ty = pokemon[i][3];
  	  image.setAttribute("value",id);
  	  image.setAttribute("src", im);
      image.setAttribute("class", "card-img-top");
      image.setAttribute("height", "auto");
      image.setAttribute("width", "100px");
  	  button.innerHTML = "Remove from Favorites";
  	  button.setAttribute("value",id);
      button.setAttribute("class", "btn btn-outline-danger");
      col.setAttribute("class", "col my-2");
      card.setAttribute("class", "card");
      cardbody.setAttribute("class", "card-body text-center");
      cardhead.setAttribute("class", "card-title text-center");
      badges.setAttribute("class", "container m-2")
      cardhead.innerHTML = n + "   #" +  id;
  	  card.appendChild(image);
      cardbody.appendChild(cardhead);
  	  len = ty.split(' ').length-1;
  	  k = 0;
  	  ts = ty.split(' ');
  	  while (k < len) {
  	      var badge = document.createElement("SPAN");
  	      badge.setAttribute("class","badge badge-pill badge-success");
  	      badge.innerHTML = ts[k];
  	      k++;
  	      badges.appendChild(badge);
  	  };
      cardbody.appendChild(badges);
  	  cardbody.appendChild(button);
      card.appendChild(cardbody);
      col.appendChild(card);
  	  button.onclick = function() {
  	      var form = document.getElementById("f");
  	      var pid = form.elements['pokemon_id'];
  	      form.addEventListener('submit', (event) => {
  		  pid.value = this.getAttribute("value");
  	      });
  	  };
      row.appendChild(col);
      perrow++
      if(perrow>=4){
        container.appendChild(row);
        perrow = 0;
      }
    };

  };



</script>



{% endblock %}
