{% extends "base.html" %}

{% block title %}
Favorites
{% endblock %}

{% block body %}
<h1>Favorites</h1>

<form method="GET" action="/logout" >
  <input type="submit" value="Logout">
</form>

<br><br>
<center>
  <form method="GET" action="/remove" id="f">
    <input type="number" name="pokemon_id" style="display: none;"/>
    <div id="dex" class="dex"></div>
  </form>
  
</center>

<style>

  .dex {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
  }
  
</style>

<script>

  var favorites = {{ favorites | safe }};
  console.log(favorites);
  var pokemon = {{ pokemon | safe }};
  var t = 807;
  var d = document.getElementById("dex");
  for(var i = 0; i <= t; i++) {
      if (favorites.includes(pokemon[i][1])) {
	  var mons = document.createElement("DIV");
	  var image = document.createElement("IMG");
	  var types = document.createElement("P");
	  var par = document.createElement("P");
	  var button = document.createElement("BUTTON");
	  var br = document.createElement("BR");
	  n = pokemon[i][0];
	  id = pokemon[i][1];
	  im = pokemon[i][2];
	  ty = pokemon[i][3];
	  image.setAttribute("value",id);
	  image.setAttribute("src", im);
	  par.innerHTML = n + "   #" +  id;
	  button.innerHTML = "Remove from Favorites";
	  button.setAttribute("value",id);
	  mons.appendChild(par);
	  mons.appendChild(image);
	  mons.appendChild(br);
	  
	  len = ty.split(' ').length-1;
	  k = 0;
	  ts = ty.split(' ');
	  while (k < len) {
	      var badge = document.createElement("SPAN");
	      badge.setAttribute("class","badge badge-pill badge-success");
	      badge.innerHTML = ts[k];
	      k++;
	      mons.appendChild(badge);
	  };
	  
	  mons.appendChild(br);
	  mons.appendChild(button);
	  button.onclick = function() {
	      var form = document.getElementById("f");
	      var pid = form.elements['pokemon_id'];
	      form.addEventListener('submit', (event) => {
		  pid.value = this.getAttribute("value");
	      });
	  };  
	  d.appendChild(mons);
      };
  };
  
  

</script>

  
  
{% endblock %}
