{% extends "base.html" %}
{% block title %}
Who's That Pokemon?
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type= "text/css"href="{{ url_for('static',filename='styles/game.css') }}">
{% endblock %}

{%block navcontents%}
<li class="nav-item mx-2">
  <form method="GET" action="/logout">
    <button class="btn btn-outline-dark" id="navbutton" type="submit">Log Out</button>
  </form>
</li>
<li class="nav-item mx-2">
  <form method="GET" action="/">
    <button class="btn btn-outline-dark" id="navbutton" type="submit">Home</button>
  </form>
</li>
<li class="nav-item mx-2">
  <form method="GET" action="/favorites">
    <button class="btn btn-outline-dark" id="navbutton" type="submit">Favorite Pokemon</button>
  </form>
</li>
<li class="nav-item mx-2">
  <form method="GET" action="/items">
    <button class="btn btn-outline-dark" id="navbutton" type="submit">Items</button>
  </form>
</li>
{% endblock %}

{% block body %}
<div class="container-flex m-5 p-2 rounded mr-3 text-center" id="heading">
  <h1 class="display-1">Who's That Pokemon?</h1>
</div>
<div class="container-flex m-5 p-2 rounded mr-3" id="bg1">
  <div class="row">
    <div class="col">
      {% block col1 %}
        <div class="d-flex justify-content-center m-5">
          <div class="card" id="picture">
            <img src="" alt="" id="pic" class="card-img-top">
          </div>
        </div>
      {% endblock %}
    </div>
    <div class="col">
      {% block col2 %}
      <div class="container">
        <div class="card m-5">
          <div class="card-body">
            <h4 class="card-title">How To Play:</h4>
            <p class="card-text">Type in the pokemon's name in the space provided. Don't worry. It's a learning experience</p>
          </div>
        </div>
        <div class="card m-5">
          <div class="card-body">
            <form method="get" action="/checkanswer">
             <div class="form-group ">
              <label class="control-label " for="answer">
               Enter Name:
              </label>
              <div class="input-group">
               <input class="form-control" id="answer" name="answer" placeholder="Ex: Pikachu" type="text"/>
               <div class="input-group-addon">
                <i class="fa fa-check">
                </i>
               </div>
              </div>
             </div>
             <div class="form-group">
              <div>
               <button class="btn btn-primary " name="submit" type="submit">
                Submit
               </button>
              </div>
             </div>
            </form>
          </div>
        </div>
      </div>

      {% endblock %}
    </div>
  </div>
</div>
{% block script %}
<script>
  var pokemon = {{mon | safe}};
  var img = document.getElementById("pic");
  img.setAttribute("src", pokemon[2]);
</script>
{% endblock %}
{% endblock %}
