{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{%block navcontents%}
<li class="nav-item">
  <form method="GET" action="/login">
    <button type="submit">Login</button>
  </form>
</li>
<li class="nav-item">
  <form method="GET" action="/favorites">
    <button type="submit">Favorite Pokemon</button>
  </form>
</li>
{% endblock %}
{% block body %}
<div class="view" style="background-image: url_for('images/pokemone1.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
  <div class="mask rgba-black-light align-items-center">
    <div class="container-fluid bg-light p-5 text-center"
      <h1 class="display-1">Homepage</h1>
    </div>
    <div class="containter bg-danger rounded mx-5 p-2">




      <br><br>
      <center>
        <form method="GET" action="/add" id="f">
          <input type="number" name="pokemon_id" style="display: none;"/>
          <div id="dex" class="dex"></div>
          <br>
        </form>
        <button id="add">Load More Pokemon</button>
      </center>
    </div>
  </div>
</div>
<style>

  .dex {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
  }

</style>

<script>
  new WOW().init();
</script>

<script>

  var pokemon = {{ pokemon | safe }}
  var t = 807;
  var display = function(e) {
      var d = document.getElementById("dex");
      var p = t - 19;
      console.log(t);
      console.log(p);
      while (t >= p) {
	  var mons = document.createElement("DIV");
	  var name = document.createElement("P");
	  var image = document.createElement("IMG");
	  var button = document.createElement("BUTTON");
	  var par = document.createElement("P");
	  n = pokemon[t][0];
	  id = pokemon[t][1];
	  i = pokemon[t][2];
	  image.setAttribute("value",id);
	  image.setAttribute("src", i);
	  /*
	  image.setAttribute("onclick", "return false;");
	  image.setAttribute("ondblclick", "return false;");
	  image.ondblclick = function() {
	      //var input = document.createElement("INPUT");
	      var form = document.createElement("FORM");
	      var input = document.createElement("INPUT");
	      //console.log(this.getAttribute("value"));
	      input.setAttribute("type","number");
	      input.setAttribute("id","yee");
	      input.setAttribute("value", this.getAttribute("value"));
	      this.appendChild(input);
	      //image.appendChild(input);
	      //document.getElementById("f").appendChild(input);
	      //document.getElementById("f").submit();
	      form.setAttribute("action","/add");
	      form.setAttribute("method","POST");
	      //console.log(this);
	      form.appendChild(this);
	      document.getElementById("f").submit();
	      //return this.getAttribute("value");
	  };
*/
	  //mons.setAttribute("style", "display: grid;");
	  name.innerHTML = n + "   #" +  id;
	  button.innerHTML = "Add to Favorites";
	  button.setAttribute("value",id);
	  mons.appendChild(name);
	  mons.appendChild(image);
	  mons.appendChild(par);
	  mons.appendChild(button);
	  t = t - 1;
	  button.onclick = function() {
	      var form = document.getElementById("f");
	      var pid = form.elements['pokemon_id'];
	      form.addEventListener('submit', (event) => {
		  //console.log(this.getAttribute("value"));
		  pid.value = this.getAttribute("value");
	      });
	      button.disabled = true;
	  };
	  d.appendChild(mons);

      }
  };


  var addmons = function(e) {
      var d = document.getElementById("dex");
      var next = document.createElement("UL");
      var p = t - 19;
      while (t >= p) {
	  var mons = document.createElement("DIV");
	  var name = document.createElement("P");
	  var image = document.createElement("IMG");
	  var button = document.createElement("BUTTON");
	  var par = document.createElement("P");
	  n = pokemon[t][0];
	  id = pokemon[t][1]
	  i = pokemon[t][2];
	  image.setAttribute("value",id);
	  image.setAttribute("src", i);
	  name.innerHTML = n + "   #" +  id;
	  button.innerHTML = "Add to Favorites";
	  button.setAttribute("value",id);
	  mons.appendChild(name);
	  mons.appendChild(image);
	  mons.appendChild(par);
	  mons.appendChild(button);
	  t = t - 1;
	  button.onclick = function() {
	      var form = document.getElementById("f");
	      var pid = form.elements['pokemon_id'];
	      form.addEventListener('submit', (event) => {
		  //console.log(this.getAttribute("value"));
		  pid.value = this.getAttribute("value");
	      });
	      button.disabled = true;
	  };
	  d.appendChild(mons);
      }
  }

  display()

  var addbutton = document.getElementById("add");
  addbutton.addEventListener('click', addmons);

</script>

{% endblock %}
