{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block body %}

<h1>Homepage</h1>

<form method="GET" action="/login">
  <button type="submit">Login</button>
</form>
<form method="GET" action="/favorites">
  <button type="submit">Favorite Pokemon</button>
</form>


<br><br>
<center>
  <div id="dex" class="dex"></div>
  <br>
  <button id="add">Load More Pokemon</button>
</center>

<style>

  .dex {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
  }
  
</style>


<script>
  
  var pokemon = {{ pokemon | safe }}
  var t = 99;
  
  var display = function(e) {
      //var dex = document.createElement("UL");
      var d = document.getElementById("dex");
      var p = t - 19;
      while (t >= p) {
	  var mons = document.createElement("DIV");
	  var name = document.createElement("P");
	  var image = document.createElement("IMG");
	  n = pokemon[t][0];
	  id = pokemon[t][1]
	  i = pokemon[t][2];
	  //mons.setAttribute("style", "display: grid;");
	  image.setAttribute("src", i);
	  name.innerHTML = n + "   #" +  id;
	  mons.appendChild(name)
	  mons.appendChild(image);
	  d.appendChild(mons);
	  t = t - 1;
      }
      //d.append(dex);
      console.log(d);
  }

  var addmons = function(e) {
      var d = document.getElementById("dex");
      var next = document.createElement("UL");
      var p = t - 19;
      console.log(t);
      console.log(p);
      while (t >= p) {
	  var mons = document.createElement("DIV");
	  var name = document.createElement("P");
	  var image = document.createElement("IMG");
	  n = pokemon[t][0];
	  id = pokemon[t][1]
	  i = pokemon[t][2];
	  image.setAttribute("src", i);
	  name.innerHTML = n + "   #" +  id;
	  mons.appendChild(name);
	  mons.appendChild(image);
	  d.appendChild(mons);
	  t = t - 1;
      }
  }

  display()

  var addbutton = document.getElementById("add");
  addbutton.addEventListener('click', addmons);
  
</script>

{% endblock %}
