{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type= "text/css"href="{{ url_for('static',filename='styles/register.css') }}">
{% endblock %}

{% block body %}
<div class="container-flex m-3 p-4">
  <div class="row align-items-center">
    <div class="col">
      <div class="card card-less">
        <div class="card-header">
          <h3>Welcome to the Pokedex</h3>
        </div>
        <div class="card-body">
          <p class="lead">
            You are about to register to one of the most advanced pokdexes. Just put a name and password and you'll be on your way to catching pokemon left and right.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h1>Register</h1>
        </div>
        <div class="card-body">
          <form method="GET" action="/register">
            <div class="form-group">
              <label for="nameinput">Name</label>
              <input class="form-control" type="text" name="username" id="nameinput" placeholder="ex: John Doe">
            </div>
            <div class="form-group">
              <label for="pass">Password</label>
              <input class="form-control" id="pass" type="password" name="password1" placeholder="Keep this somewhere safe">
            </div>
            <div class="form-group">
              <label for="pass">Confirm Password</label>
              <input class="form-control" id="pass" type="password" name="password2">
            </div>
              <input class="btn btn-success" type="submit">
          </form>
          <hr>
          <form method="GET" action="/login">
            <button class="btn btn-secondary" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
