{% extends "base.html" %}

{% block title %}
Search
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" type= "text/css"href="{{ url_for('static',filename='styles/search.css') }}">
{% endblock %}

{%block navcontents%}
{% if user == 'null' %}
  <li class="nav-item mx-2">
    <form method="GET" action="/login">
      <button class="btn btn-outline-dark" type="submit">Login</button>
    </form>
  </li>
{% else %}
  <li class="nav-item mx-2">
    <form method="GET" action="/logout">
      <button class="btn btn-outline-dark" type="submit">Log Out</button>
    </form>
  </li>
{% endif %}
<li class="nav-item mx-2">
  <form method="GET" action="/favorites">
    <button class="btn btn-outline-dark" type="submit">Favorite Pokemon</button>
  </form>
</li>
<li class="nav-item mx-2">
  <form method="GET" action="/">
    <button class="btn btn-outline-dark" type="submit">Home</button>
  </form>
</li>
{% endblock %}

{% block search %}
<!-- here lies the search bar -->
<form class="form-inline mx-2 mx-lg-0" action="/search" method="GET">
  <div class="md-form my-0">
    <input class="form-control mr-sm-2" type="search" placeholder="enter name or ID" aria-label="Search" name="keyword">
  </div>
  <button class="btn btn-outline-primary btn-md mx-2 ml-sm-2" type="submit">Search</button>
</form>
{% endblock %}

{% block body %}
<script src="https://d3js.org/d3.v4.min.js"></script>

<div class="container-flex pokedex m-3 p-2" id="bigdiv">
  <div class="row row-cols-2">
    <div class="col">
      <div class="card text-center p-5">
        <img id="image" class="card-img-top" width="150px"></img>
        <div class="card-body">
          <h1 class="card-title">Searches for: {{ search }}</h1>
          <hr>
          <h2 id="name"></h2>
          <hr>
          <h2 id="id"></h2>
          <hr>
          <div id="badge"></div><br>

          <!-- This be the table -->

          <table class="text:center" style="width:40%;" id="tab" align="center">
            <tr>
            	<th>HP</th>
            	<td id="hp"></td>
            </tr>
            <tr>
            	<th>Attack</th>
            	<td id="attack"></td>
            </tr>
            <tr>
            	<th>Defense</th>
            	<td id="defense"></td>
            </tr>
            <tr>
            	<th>Special Attack</th>
            	<td id="specialattack"></td>
            </tr>
            <tr>
            	<th>Special Defense</th>
            	<td id="specialdefense"></td>
            </tr>
            <tr>
            	<th>Speed</th>
            	<td id="speed"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <div class = "card text-center p-5" id="stats">
        <h5 class="card-title" id="weight"></h5>
        <hr>
        <h5 lass="card-title" id="height"></h5>
        <hr>
        <div class="row row-cols-3">
          <div class="col-2"></div>
          <div class="col">
            <div id="graph"></div>
          </div>
          <div class="col-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  var pokemon = {{ result | safe }}
  var mons = document.getElementById("badge");
  var n = document.getElementById('name');
  cn = pokemon[0].charAt(0).toUpperCase() + pokemon[0].slice(1);
  n.innerHTML = cn;

  var d = document.getElementById('id');
  console.log(pokemon[1] < 10)
  if (pokemon[1] < 10) { d.innerHTML = "#00" + pokemon[1]; }
  else if (pokemon[1] > 10 && pokemon[1] < 100) { d.innerHTML = "#0" + pokemon[1]; }
  else { d.innerHTML = "#" + pokemon[1]; }

  var i = document.getElementById('image');
  i.setAttribute('src',pokemon[2]);

  var get_type = function(type) {
      if (type === "normal") return "badge-normal";
      else if (type === "fighting") return "badge-fighting";
      else if (type === "flying") return "badge-flying";
      else if (type === "poison") return "badge-poison";
      else if (type === "ground") return "badge-ground";
      else if (type === "rock") return "badge-rock";
      else if (type === "bug") return "badge-bug";
      else if (type === "ghost") return "badge-ghost";
      else if (type === "steel") return "badge-steel";
      else if (type === "fire") return "badge-fire";
      else if (type === "water") return "badge-water";
      else if (type === "grass") return "badge-grass";
      else if (type === "electric") return "badge-electric";
      else if (type === "psychic") return "badge-psychic";
      else if (type === "ice") return "badge-ice";
      else if (type === "dragon") return "badge-dragon";
      else if (type === "fairy") return "badge-fairy";
      else if (type === "dark") return "badge-dark";
  }

  var t = pokemon[3];
  types = t.split(' ');
  l = t.split(' ').length-1;
  for (i = 0; i < l; i++) {
      var h = document.createElement("H3");
      var badge = document.createElement("SPAN");
      badge.setAttribute("class","badge badge-pill " + get_type(types[i]));
      badge.innerHTML = types[i];
      h.appendChild(badge)
      mons.appendChild(h);
  };

  var stats = pokemon[6].split(' ');
  stats.pop()
  for (i = 0; i < 6; i++) {
      stats[i] = parseInt(stats[i]);
  };

  var hp = document.getElementById("hp");
  hp.innerHTML = stats[0];
  var attack = document.getElementById("attack");
  attack.innerHTML = stats[1];
  var defense = document.getElementById("defense");
  defense.innerHTML = stats[2];
  var specialattack = document.getElementById("specialattack");
  specialattack.innerHTML = stats[3];
  var specialdefense = document.getElementById("specialdefense");
  specialdefense.innerHTML = stats[4];
  var hp = document.getElementById("speed");
  speed.innerHTML = stats[5];

  var w = document.getElementById("weight");
  w.innerHTML = "Weight: " + pokemon[4] + " hectograms";
  var h = document.getElementById("height");
  h.innerHTML = "Height: " + pokemon[5] + " decimeters";

  let data = [];
  let features = ['HP', 'Attack', 'Defense', 'Special Attack', 'Special Defense','Speed']
  //generate the data
  var point = {}
  point[features[0]] = stats[0];
  point[features[1]] = stats[1];
  point[features[2]] = stats[2];
  point[features[3]] = stats[3];
  point[features[4]] = stats[4];
  point[features[5]] = stats[5];
  data.push(point);
  let svg = d3.select("#graph").append("svg")
      .attr("width", 600)
      .attr("height", 400);

  let radialScale = d3.scaleLinear()
      .domain([0,255])
      .range([0,180]);
  let ticks = [50,100,150,200,250];

  ticks.forEach(t =>
		svg.append("circle")
		.attr("cx", 200)
		.attr("cy", 200)
		.attr("fill", "none")
		.attr("stroke", "gray")
		.attr("r", radialScale(t))
	       );
  ticks.forEach(t =>
		svg.append("text")
		.attr("x", 210)
		.attr("y", 200 - radialScale(t))
		.text(t.toString())
	       );
  function angleToCoordinate(angle, value){
      let x = Math.cos(angle) * radialScale(value);
      let y = Math.sin(angle) * radialScale(value);
      return {"x": 200 + x, "y": 200 - y};
  }

  for (var i = 0; i < features.length; i++) {
      let ft_name = features[i];
      let angle = (Math.PI / 2) + (2 * Math.PI * i / features.length);
      let line_coordinate = angleToCoordinate(angle, 255);  // fix position of labels
      let label_coordinate = angleToCoordinate(angle, 260);

      //draw axis line
      svg.append("line")
	  .attr("x1", 200)
	  .attr("y1", 200)
	  .attr("x2", line_coordinate.x)
	  .attr("y2", line_coordinate.y)
	  .attr("stroke","black");

      //draw axis label
      svg.append("text")
	  .attr("x", label_coordinate.x)
	  .attr("y", label_coordinate.y)
	  .text(ft_name);
  }

  let line = d3.line()
      .x(d => d.x)
      .y(d => d.y);
  // add some more colors
  let colors = ["darkorange", "navy", "steelblue", "aqua", "aquamarine", "blueviolet", "chartreuse", "chocolate", "coral", "cornflowerblue", "crimson", "darkgoldenrod", "darkmagenta", "darkorchid", "hotpink", "salmon"];

  function getPathCoordinates(data_point){
      let coordinates = [];
      for (var i = 0; i < features.length; i++){
          let ft_name = features[i];
          let angle = (Math.PI / 2) + (2 * Math.PI * i / features.length);
          coordinates.push(angleToCoordinate(angle, data_point[ft_name]));
      }
      return coordinates;
  }

  for (var i = 0; i < data.length; i ++){
      let d = data[i];
      let color = colors[Math.floor(Math.random() * colors.length)];
      let coordinates = getPathCoordinates(d);

      //draw the path element
      svg.append("path")
	  .datum(coordinates)
	  .attr("d",line)
	  .attr("stroke-width", 3)
	  .attr("stroke", color)
	  .attr("fill", color)
	  .attr("stroke-opacity", 1)
	  .attr("opacity", 0.7);
  }

  var br = document.createElement("BR");
  var sss = document.getElementById("bigdiv");
  sss.appendChild(br);
  sss.appendChild(br);

</script>



{% endblock %}
